<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width height=device-height">
    <meta name="robots" content="noindex"/>
    <title>Alexanders Website</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='Pictures/Regression-Logo-trans.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/sheet.css')}}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<body>
    <canvas id="particles-js"></canvas>
    <div class="Page-Container"><p id="Intro">Under Construction</p></div>
    <script src="{{ url_for('static', filename='JS/main.js')}}"></script>
</body>